body {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
  color: #504949;
}

.header--container {
 position: fixed;
 top: 0;
 width: 100%;
 z-index: 999999;
 background-color: #941919;
 color: #fff;
 padding: 10px;
}

.header--title { font-size: 58px; font-weight: bold }

.card {
  border-left: 5px solid #b02f2f;
  padding: 10px;
  margin-bottom: 30px;
}

.card--title {
  font-size: 32px;
}

.card--badge {
  background-color: #b6572e;
  color: white;
  padding: 0px 5px 0px 5px;
}

.card--openedBy {
  font-size: 28px;
}
