body {
  margin: 0;
  padding: 0;
  font-family: 'Slabo 27px', serif;
  color: #504949;
}

.header--container {
 background-color: #941919;
 color: #fff;
 padding: 10px;
}

.header--title { font-size: 58px; font-weight: bold }
.header--subtitle { font-size: 20px; }
a.header--self { color: white; }
a.header--self:hover { border-bottom: 1px solid white; text-decoration: none; }
a.header--self:link { color: white; text-decoration: none; }

a.header--self--underlined { color: white; border-bottom: 1px solid white; }
a.header--self--underlined:hover { text-decoration: none; }

.card {
  border-left: 5px solid #b02f2f;
  padding: 10px;
  margin-bottom: 30px;
}

a.card--title { font-size: 32px; color: #504949; text-decoration: none; }

a.card--title:hover {
  text-decoration: none;
  border-bottom: 3px solid #504949;
}

.card--badge {
  font-size: 32px;
  background-color: #b6572e;
  color: white;
  padding: 0px 5px 0px 5px;
}

.card--openedBy {
  font-size: 28px;
  font-style: italic;
}

.card--label {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 10px 0px 0px;
  padding: 5px;
}

.label-link {
  color: inherit;
}

.label-link:hover { text-decoration: none; }
.label-link:link { text-decoration: none; }

.loading { font-size: 20px; }

.loading:after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  -webkit-animation: ellipsis steps(4,end) 900ms infinite;
  animation: ellipsis steps(4,end) 900ms infinite;
  content: "\2026"; /* ascii code for the ellipsis character */
  width: 0px;
}

@keyframes ellipsis {
  to {
    width: 20px;
  }
}

@-webkit-keyframes ellipsis {
  to {
    width: 20px;
  }
}

.issue-detail {
  margin-bottom: 20px;
}

.issue-detail pre {
  background-color: #f6f8fa;
  padding: 5px;
}
.issue-detail code {
  font-size: 14px;
}

.issue-title {
  font-size: 36px;
  font-weight: bold;
}

.issue-detail--container {
  border-top: 10px solid #941919;
  border-bottom: 10px solid #941919;
  font-size: 24px;
}

.join-conversation--link {
  font-size: 30px;
  background-color: #941919;
  color: white;
  padding: 10px;
  text-transform: uppercase;
}

.join-conversation--link:hover {
  text-decoration: none;
  color: white;
}